<nav class="navbar navbar-expand-lg hbg">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="">
      <div class="logo">
        <img src="../../assets/BM - removebg.png" alt="Bootstrap" width="70" height="52">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="getMain">
      <div class="navbar-nav">
        <div class="section">
          <a class="nav-link active text-light" aria-current="page" routerLink="">Home</a>
        </div>
        <div class="section">
          <a class="nav-link text-light" routerLink="sites">Sites</a>
        </div>
      </div>


      <div class="margin-right">
        <a>
          <fa-icon [icon]="faFileArrowDown" (click)="exportCsv()"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>



<mat-spinner [diameter]="30"  *ngIf="loading"></mat-spinner>