body{
    margin: 0;
    background-color:rgb(197 210 255);
}


@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('assets/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
